In [1]:
import pandas as pd

# My remarks

- Implicit feedback
- 26557961 **non-unique** logs (~1.1GB), 1141729 users, 846811 movies
- Non-click / Click
- Time-series
- User profile (meta data)
- Ad feature (item meta data)

# Taobao Dataset

Source: https://www.kaggle.com/datasets/pavansanagapati/ad-displayclick-data-on-taobaocom

This dataset is provided by Alimama

**Raw_sample**

We randomly sampled 1140000 users from the website of Taobao for 8 days of ad display / click logs (26 million records) to form the original sample skeleton. Field description is as follows:
(1) user: User ID(int);
(2) timestamp: time stamp(Bigint, 1494032110 stands for 2017-05-06 08:55:10); (3) adgroupid: adgroup ID(int);
(4) pid: scenario;
(5) noclk: 1 for not click, 0 for click;
We used 7 days’s samples as training samples (20170506-20170512), and the last day’s samples as test samples (20170513).

**ad_feature**

This data set covers the basic information of all ads in rawsample. Field description is as follows: (1) adgroupid：Ad ID(int) ;
(2) cateid：category ID; (3) campaignid：campaign ID;
(4) brand：brand ID;
(5) customer_id: Advertiser ID;
One of the ad ID corresponds to an item, an item belongs to a category, an item belongs to a brand.

**user_profile**

This data set covers the basic information of 1060000 users in rawsample.. Field description is as follows: (1) userid: user ID; (2) cmssegid: Micro group ID;
(3) cmsgroupid: cmsgroupid;
(4) finalgendercode: gender 1 for male , 2 for female
(5) agelevel: agelevel
(6) pvaluelevel: Consumption grade, 1: low, 2: mid, 3: high (7) shoppinglevel: Shopping depth, 1: shallow user, 2: moderate user, 3: depth user
(8) occupation: Is the college student 1: yes, 0: no?
(9) newuserclasslevel: City level This data set covers the shopping behavior in 22 days of all users in rawsample(totally seven hundred million records). Field description is as follows:
(1) nick: User ID(int);
(2) time_stamp: time stamp(Bigint, 1494032110 stands for 2017-05-06 08:55:10)；
(3) cate: category ID(int);
Here if we use userID and timestamp as primary key, we will find a lot of duplicate records. This is because the behavior of different types of the data are collected from different departments and when packaged together, there are small deviations (i.e. the same two timestamps may be two different time with a relatively small difference).

In [2]:
taobao_data = pd.read_csv("../../data/taobao/raw_sample.csv")
taobao_data

            user  time_stamp  adgroup_id          pid  nonclk  clk
0         581738  1494137644           1  430548_1007       1    0
1         449818  1494638778           3  430548_1007       1    0
2         914836  1494650879           4  430548_1007       1    0
3         914836  1494651029           5  430548_1007       1    0
4         399907  1494302958           8  430548_1007       1    0
...          ...         ...         ...          ...     ...  ...
26557956    6834  1494139949      846808  430548_1007       1    0
26557957   16815  1494328475      846808  430548_1007       1    0
26557958  736609  1494597871      846809  430548_1007       1    0
26557959  735781  1494684550      846809  430539_1007       1    0
26557960  735781  1494677729      846810  430539_1007       1    0

[26557961 rows x 6 columns]

# User profile

In [3]:
user_profile = pd.read_csv("../../data/taobao/user_profile.csv")
user_profile

,userid,cms_segid,cms_group_id,final_gender_code,age_level,pvalue_level,shopping_level,occupation,new_user_class_level
0,234,0,5,2,5,NaN,3,0,3.0
1,523,5,2,2,2,1.0,3,1,2.0
2,612,0,8,1,2,2.0,3,0,NaN
3,1670,0,4,2,4,NaN,1,0,NaN
4,2545,0,10,1,4,NaN,3,0,NaN
...,...,...,...,...,...,...,...,...,...
1061763,1137955,0,3,2,3,NaN,3,0,4.0
1061764,1138545,0,4,2,4,NaN,3,0,3.0
1061765,1138902,67,9,1,3,2.0,3,0,4.0
1061766,1139632,0,7,1,1,NaN,1,0,NaN
1061767,1139870,8,2,2,2,2.0,3,0,3.0

# Ad feature

In [4]:
ad_feature = pd.read_csv("../../data/taobao/ad_feature.csv")
ad_feature

        adgroup_id  cate_id  campaign_id  customer     brand   price
0            63133     6406        83237         1   95471.0  170.00
1           313401     6406        83237         1   87331.0  199.00
2           248909      392        83237         1   32233.0   38.00
3           208458      392        83237         1  174374.0  139.00
4           110847     7211       135256         2  145952.0   32.99
...            ...      ...          ...       ...       ...     ...
846806      824255     4526       380022    255868  389713.0  268.00
846807      790170     4280       379736    255872  322171.0   68.00
846808      845286     6261       379736    255872  322171.0   88.00
846809      824732     4520       379736    255872  322171.0   68.00
846810      845337    11156       379603    255874   74120.0  279.00

[846811 rows x 6 columns]